/********************************
     CUSTOM PROPS
********************************/
:root {
    --base-space: 20px;
    --app-w: 1235px;
    --sidebar-w: 440px;
    --header-h: 50px;
}

/********************************
     DEBUG
********************************/
.debug {
    border: 1px solid black;
}

/********************************
     UTILITIES
********************************/
header {
    height: var(--header-h);
}

.contact-name {
    font-size: 1.2rem;
    font-weight: 600;
}

/********************************
     BODY AND BACKGROUND
********************************/
body {
    background-color: #dadbd2;
}

/* colored-bar da eliminare se fa casino*/
#colored-bar {
    height: 105px;
    background-color: #009688;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/********************************
     APP
********************************/
#app {
    margin: var(--base-space)  auto;    
    height: calc(100vh - var(--base-space) * 2);
    width: var(--app-w);
    background-color: #ffffff;
}

/********************************
     SIDEBAR
********************************/
#sidebar {
    height: 100%;
    width: var(--sidebar-w);
}

/* HEADER */
#user-info {
    padding: calc(var(--base-space)/4) calc(var(--base-space)/4);
}

#user-img {
    border-radius: 50%;
    height: calc(var(--header-h) - var(--base-space)/2);
    aspect-ratio: 1;
}

#user-actions {
    padding: calc(var(--base-space)/2) calc(var(--base-space)/4);
}

.user-action {
    margin: 0 3px;
    font-size: 1.2rem;
    color: #b0b0b0;
}

/********************************
     MAIN
********************************/
#main {
    height: 100%;
    width: calc(100% - var(--sidebar-w));
}